
h1{
  font-family: Lobster, cursive !important;
  color: rgb(128,0,0) !important;
}
header {
  font-family: Hannibal;
  background-size: cover;
  height: 50vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 16;
  font-family: Lobster;
}

a {
  padding: 1em;
  text-decoration: none !important;
  color: black;
  font-family: Lobster;
}
a:hover {
  font-size: 20px;
}


#about_me {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid black;
}
#about_me h1{
  margin-bottom: 5vh;
}
#about_me a {
  font-size: 16px;
  padding: 0;
}

h2{
  font-family: Hannibal;
  text-align: center;
  margin-bottom: 5em;
}
img {
  margin: 2em;
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;
  vertical-align: middle;
  display: inline;
  padding: 0;
}
#about_me_img {
  margin-bottom: 2rem;
}

 p {
  margin: auto 15em 0 15em;
  line-height: 2.5em;
  text-align: center;
  display: block;
  font-size: 16px;
}

#contact {
  display:block;
  font-family: Hannibal;
  text-align: center;
  /*justify-content: center;*/
  /*align-items: center;*/
  height: 35vh;
  padding: 8vh 0 10vh 0vh;
  margin-bottom: 15vh;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
}
#hover:hover {
height:70%;
width:auto;
}

footer  {
  text-align: center;
  /*font-family: Lobster;*/
}
