header {
  font-family: Hannibal;
  background-size: cover;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header p {

  font-size: 16;

}
nav, .my-header a{
  margin: 1em 3em 0 3em !important;
  color: white !important;
}
a {
  padding: 1em;
  text-decoration: none !important;
  color: black;


}
a:hover {
  font-family: Arial;
  margin: inherit; !important;
  font-size: 20;
}

.container {
  height: !important 100vh;
}
#about_me {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  border-top: 1px solid black;

}

h2{
  font-family: Hannibal;
  text-align: center;
  margin-bottom: 5em;
}
img {
  margin: 2em;
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;
  vertical-align: middle;
  display: inline;
}

 p {
  margin: auto 15em 0 15em;
  line-height: 2.5em;
  text-align: center;
  display: block;
  font-size: 16px;
}
#contact {
  font-family: Hannibal;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 8vh;
  padding-top: 5vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#contact a {
  display: inline;
}

footer  {
  text-align: center;

}
