h1{
  font-family: Lobster, cursive !important;
  color: rgb(128,0,0) !important;
  margin-bottom: 5vh !important;
}
h2 {
  font-family: Lobster, cursive !important;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5em;
}
img {
  margin: 2em;
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;
  vertical-align: middle;
  display: inline;
  padding: 0;
}


 p {
  /*margin: auto 15em 0 15em;*/
  line-height: 2.5em;
  text-align: center;
  display: block;
  font-size: 16px;
}
header {
  background-color: rgba(0,0,0,0.9);
  font-family: Hannibal;
  background-size: cover;
  height: 50vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 100% !important;
}
header h1 {
  color: white !important;
  margin-bottom: 1vh !important;
}

header p {
  font-size: 16;
  font-family: Lobster;
  color: rgb(128,0,0);
}

a {
  padding: 1em;
  text-decoration: none !important;
  color: black;
  font-family: Lobster;
}
a:hover {
  font-size: 20px;
}
#about_me {

  height: 50vh;
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
#about_me h1{
  margin-bottom: 5vh;
}
#about_me a {
  font-size: 16px;
  padding: 0;
}
#projects {
  padding-top: 2vh;
  text-align: center;
  border-top: 1px solid black;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
  background-color: rgba(0,0,0,0.9);
  color: white;
  width: 100% !important;
}
#projects h1 {
  color: White !important;
}
#projects li {
  font-size: 16px;
  text-align: left;
}
#projects p {
  line-height: 1.5;
}
#projects a {
  text-decoration: none;
  color: rgb(128,0,0);
}
#projects a:hover {
  text-decoration: none;
  font-size: inherit;
  color: white;
}
#contact {
  display:block !important;
  font-family: Hannibal;
  text-align: center;
  /*justify-content: center;*/
  /*align-items: center;*/
  height: 35vh;
  padding: 8vh 0 10vh 0vh;
  margin-bottom: 10vh;

  /*border-bottom: 1px solid black;*/
}
#hover:hover {
height:70%;
width:auto;
}

footer  {
  text-align: center;
  display: block;
  /*font-family: Lobster;*/
}
