header {
  font-family: Hannibal;
  background-size: cover;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
header p {
  font-size: 16;
}
nav, a{
  margin: 1em 3em 0 3em !important;
  color: black !important;
}
a {
  padding: 1em;
  text-decoration: none !important;

}
a:hover {
  font-family: Arial;
  margin: inherit; !important;
}
.about_me {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 5em;
}


.about_me p {
  margin: auto 15em 0 15em;
  line-height: 2.5em;
  text-align: center
}
.contact {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 15vh;
}
.contact a {
  display: inline;
}

footer {
  text-align: center;
}
