header {
  font-family: Hannibal;
  background-size: cover;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav, a{

}
.about_me {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.contact {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
