header {
  font-family: Hannibal;
  background-size: cover;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header p {

  font-size: 16;

}
nav, .my-header a{
  margin: 1em 3em 0 3em !important;
  color: white !important;
}
a {
  padding: 1em;
  text-decoration: none !important;
  color: black;

}
a:hover {
  font-family: Arial;
  margin: inherit; !important;
}
.about_me {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 5em;
  border-top: 1px solid black;

}
.about_me h2 {

}
.about_me img {
  margin: 2em;
  border-radius: 10px;
}

.about_me p {
  margin: auto 15em 0 15em;
  line-height: 2.5em;
  text-align: center
}
.contact {
  font-family: Hannibal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 15vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.contact a {
  display: inline;
}

footer  {
  text-align: center;
  position: relative;
}
